#borderPane{
	-fx-background-color: #212322;
}

#txt{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: white;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

#label{
    -fx-text-fill: #689EDE;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#confir{
    -fx-text-fill: white;
   	-fx-background-color: #2C9344;
   	-fx-background-radius: 10;
   	-fx-pref-width: 150px;
    -fx-pref-height: 25px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

#back{
    -fx-cursor: hand;
}

#line{
	-fx-stroke: #5B5C5E;
	-fx-stroke-width: 2;
}

#or{
	-fx-text-fill: white;
}
#mw{
        -fx-text-fill: white;
        -fx-font-weight: bold;
}
.radio-button {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#option .radio {
    -fx-background-color: white;
}



